<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="./styles.css">
      </head>
      <body>
        <%- include('navbar', {links: locals.links}) %>
        <ul><% messages.map((message) => { %>
            <li>
              <div>
                <%= message.user %> - <%= message.added %>: <%= message.text %>
              </div>
              <a href="messages/<%= message.id %>">View</a>
              </li>
          <% }) %>
            
          </ul>
      </body>
</html>